<div class="container">

  <h1 class="center">NPR Articles</h1>

  <div class="row">
    <button id="scrape" class="btn blue-grey darken-4 waves-effect col s4 offset-s2 center">Scrape Articles</button>
    <button id="clear" class="btn blue-grey darken-4 waves-effect col s4 center">Clear Articles</button>
  </div>

  <div class="row">

    {{#unless articles}}
    <h4 class="col s12 center">No articles available. Scrape to view more</h4>
    {{/unless}}

    {{#if articles}}
    {{#each articles}}
    <div class="col s12 m6 article">
      <div class="card blue-grey darken-4">
        <div class="card-content white-text">
          <span class="card-title">{{this.title}}</span>
          <p class="summary blue-grey-text text-lighten-4">{{this.summary}}</p>
        </div>
        <div class="card-action">
          <a href="{{this.link}}" target="_blank">Go to article</a>
          <a class="modal-trigger" value="{{this._id}}" href="#modal-{{this._id}}">Notes

            {{#if this.note}}
            <i class="material-icons tiny">note</i>
            {{/if}}

          </a>

          {{#if this.lock}}
          <i data-art-id="{{this._id}}" data-locked="true" class="locked save material-icons right">lock_outline</i>
          {{else}}
          <i data-art-id="{{this._id}}" data-locked="false" class="unlocked save material-icons right">lock_open</i>
          {{/if}}
        </div>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal-{{this._id}}" class="modal modal-fixed-footer blue-grey">
      <div class="modal-content">
        <h4 class="center">Notes</h4>
        <h5>Article Summary:</h5>
        <p>{{this.summary}}</p>

        <hr>

        {{#if this.note}}
        {{> notes/note-block}}
        {{/if}}

        <h4 class="center">Add New Note</h4>
        <div class="input-field col s6 center">
          <input id="noteTitle{{this._id}}" type="text" class="note-title">
          <label for="noteTitle{{this._id}}">Note Title</label>
        </div>

        <div class="input-field col s12 center">
          <input id="noteContent{{this._id}}" type="text" class="note-content">
          <label for="noteContent{{this._id}}">Note Content</label>
          <small class="modalHelp">Please fill out both title and content to add a note</small>
        </div>
      </div>
      <div class="modal-footer blue-grey darken-2">
        <button id="addNote{{this._id}}" value="{{this._id}}" class="addNote btn blue-grey darken-4">Add Note</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    {{/each}}

    {{/if}}

  </div>



</div>